<!DOCTYPE html>

<html lang="en">
<link href="/static/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">

<body>
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/cubism">Cubism</a>
    <a  href="/Movies">Movies</a>
</div>

<h1> Cubism </h1>

    <div class="container">
        <img src="https://www.moma.org/media/W1siZiIsIjQzODQ1MiJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDIwMDB4MTQ0MFx1MDAzZSJdXQ.jpg?sha=8b2a1c3992bba555" alt="" class="image">
        <div class="overlay">
            <div class="text">Les Demoiselles</div>
            <div class="text2"> Painted by Pablo Picasso in 1907</div>
            <div class="text3"> Meaning:  </div>
        </div>
    </div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">
    <img src="https://www.pablopicasso.org/images/paintings/girl-with-mandolin.jpg" alt="" class="image">
    <div class="overlay">
        <div class="text">Girl With Mandolin</div>
        <div class="text2"> Painted by Pablo Picasso in 1910 </div>
        <div class="text3"> Meaning:  </div>
    </div>
</div>
&nbsp;<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">
    <img src="https://m.media-amazon.com/images/I/81sO8PzFu5L._AC_SY679_.jpg" alt="" class="image">
    <div class="overlay">
        <div class="text">The Weeping Woman</div>
        <div class="text2"> Painted by Pablo Picasso in 1937</div>
        <div class="text3"> Meaning:  </div>
    </div>
</div>

&nbsp;





</body>
