<!DOCTYPE html>

<html lang="en">
<link href="/static/style.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">

<body>
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/cubism">Paintings</a>
    <a  href="/Movies">Movies</a>
    <a href="/photography">Photography</a>
    <a href="/music">Music</a>
</div>

<h1> Cubism </h1>
<h2> Cubism was an art style usually consisting of blocky structures, representing reality. Most paintings appear fragmented and abstracted.  Pablo Picasso is the most notable Cubism painter. </P>
    <div class="container">
        <img src="https://www.moma.org/media/W1siZiIsIjQzODQ1MiJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDIwMDB4MTQ0MFx1MDAzZSJdXQ.jpg?sha=8b2a1c3992bba555" alt="" class="image">
        <div class="overlay">
            <a href="/paintingdescriptions">Descriptions</a>
            <div class="text">Les Demoiselles</div>
            <div class="text2"> By Pablo Picasso</div>
            <div class="text3"> Painted in 1907  </div>
        </div>
    </div>
<p>&nbsp;</p>
<p>&nbsp;</p>

<div class="container">
    <img src="https://www.pablopicasso.org/images/paintings/girl-with-mandolin.jpg" alt="" class="image">
    <div class="overlay">
        <a href="/paintingdescriptions">Descriptions</a>
        <div class="text">Girl With Mandolin</div>
        <div class="text2">By Pablo Picasso</div>
        <div class="text3"> Painted in 1910 </div>
    </div>
</div>
&nbsp;<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">
    <img src="https://m.media-amazon.com/images/I/81sO8PzFu5L._AC_SY679_.jpg" alt="" class="image">
    <div class="overlay">
        <a href="/paintingdescriptions">Descriptions</a>
        <div class="text">The Weeping Woman</div>
        <div class="text2"> By Pablo Picasso</div>
        <div class="text3"> Painted in 1937  </div>
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
&nbsp;<div class="container">
        <img src="https://www.pablopicasso.org/images/paintings/portrait-of-ambroise-vollard.jpg" alt="" class="image">
        <div class="overlay">
            <a href="/paintingdescriptions">Descriptions</a>
            <div class="text">Portrait of Ambroise Vollard </div>
            <div class="text2"> By Pablo Picasso</div>
            <div class="text3"> Painted in 1910  </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/en/3/3c/Violin_and_Candlestick.jpg" alt="" class="image">
        <div class="overlay">
            <a href="/paintingdescriptions">Descriptions</a>
            <div class="text">Violin and Candlestick </div>
            <div class="text2"> By Georges Braque</div>
            <div class="text3"> Painted in 1910  </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>





</body>
