<!DOCTYPE html>

<!-- Imported timline outline from bootstrap -->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="/static/home.css" rel="stylesheet" type="text/css" />



</head>
<body>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/cubism">Paintings</a>
    <a  href="/Movies">Movies</a>
    <a href="/photography">Photography</a>
    <a href="/music">Music</a>
    <a href="/img">Upload</a>
    <a href="/login">Login</a>
    <a href="/quotesapi">Quotes API</a>
</div>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <center><h1 style="color:white;background-color:#333;padding:20px">Virtual Art Museum</h1></center>
                <center><h4>By James Hunt, Manuel Villa-Hernandez, Marc Humeau, and Francis Lim</h4></center>
                <center><h2><b>Welcome to our online museum on <mark>All Genres of Art</mark>! Scroll down for Database Survey!(not yet created)</b></h2></center>
                <center><h2><a href="https://docs.google.com/document/d/17C_nAyFtFvbdhyxUsUb1094QCTnxOj8Qtv0jS7bWbzI/edit?usp=sharing">Link to Project Plan</a></h2></center>
                <center><h2><a href="https://github.com/lim04francis/Tri2---p5longhorns/projects/1">Link to Scrum Board</a></h2></center>
                <center><h2><a href="https://github.com/lim04francis/Tri2---p5longhorns/projects/2">Link to Log of Weekly Changes</a></h2></center>
            </div>
        </div>
    </div>
</header>

<style>
            table, th, td {
          border: 1px solid black;
          padding: 15px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
        }

        th {
          background-color: #757441;
        }

        td {
          background-color: #BFBE7E;
        }
</style>

<!-- Tables -->
<table>
    <thead>
    <tr>
        <th>Table of Contents</th>
        <th>Link to Subpage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Paintings</td>
        <td>
            <form action="cubism">
                <input type="submit" value="Go to Paintings Page" />
            </form>
        </td>
    </tr>

    <tr>
        <td>Movies</td>
        <td>
            <form action="Movies">
                <input type="submit" value="Go to Movies Page" />
            </form>
        </td>
    </tr>

    <tr>
        <td>Photography</td>
        <td>
            <form action="photography">
                <input type="submit" value="Go to Photography Page" />
            </form>
        </td>
    </tr>

    <tr>
        <td>Music</td>
        <td>
            <form action="music">
                <input type="submit" value="Go to Music Page" />
            </form>
        </td>
    </tr>

    <tr>
        <td>Database</td>
        <td>
            <form action="img">
                <input type="submit" value="Go to Upload Page" />
            </form>
        </td>
    </tr>

    <tr>
        <td>API</td>
        <td>
            <form action="quotesapi">
                <input type="submit" value="Go to Quotes API Page" />
            </form>
        </td>
    </tr>
    </tbody>
</table>



<div class="waveWrapper waveAnimation">

    <div class="waveWrapperInner bgMiddle">
        <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
    </div>
    <div class="waveWrapperInner bgBottom">
        <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
    </div>
</div>







</body>

</html>