<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<link href="/static/style.css" rel="stylesheet" type="text/css" />

<div class="topnav">
    <a href="/">Home</a>
    <a  href="/cubism">Paintings</a>
    <a class = "active" href="/Movies">Movies</a>
    <a href="/photography">Photography</a>
    <a href="/music">Music</a>
</div>

<h1> Horror </h1>

<div class="container">
    <img src="https://images-na.ssl-images-amazon.com/images/I/91U8fI0EBdL._SL1500_.jpg" alt="" class="image">
    <div class="overlay">
        <div class="text">The Thing</div>
        <div class="text2"> Directed by John Carpenter</div>
        <div class="text3"> Summary:</div>
    </div>
</div>
<iframe width="460" height="215" src="https://www.youtube.com/embed/5ftmr17M-a4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
&nbsp;
<div class="container">
    <img src="https://cinemaclown.files.wordpress.com/2015/10/the-shining.jpg?w=500&h=714" alt="" class="image">
    <div class="overlay">
        <div class="text">The Shining</div>
        <div class="text2"> Directed by Stanley Kubrick </div>
        <div class="text3"> Summary:  </div>
    </div>
</div>
&nbsp;
<div class="container">
    <img src="https://m.media-amazon.com/images/M/MV5BNzk1OGU2NmMtNTdhZC00NjdlLWE5YTMtZTQ0MGExZTQzOGQyXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg" alt="" class="image">
    <div class="overlay">
        <div class="text">Halloween</div>
        <div class="text2"> Directed by John Carpenter</div>
        <div class="text3"> Summary:  </div>
    </div>
</div>

&nbsp;



<body>

</body>

