<!DOCTYPE html>

<html lang="en">
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<meta charset="UTF-8">


@app.route('/photography')
def Movies():
return render_template("photography.html")



<body>
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/cubism">Cubism</a>
    <a  href="/Movies">Movies</a>
    <a href="/photography">Photography</a>
</div>





<h1> Photography </h1>

<div class="container">
    <img src="https://www.digitalphotomentor.com/photography/2018/05/famous-photographers-Yousuf-Karsh-1941-churchill-750x954.jpg" alt="" class="image">
    <div class="overlay">
        <div class="text">Yousuf Karsh’s iconic portrait – Winston Churchill | 1941</div>
    </div>



</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">
    <img src="https://www.digitalphotomentor.com/photography/2018/05/famous-photographers-Cartier-Bresson-1930-man-jumping-puddle.jpg" alt="" class="image">
    <div class="overlay">
        <div class="text">Henri Cartier-Bresson’s famous photo Man Jumping the Puddle | 1930</div>
    </div>



</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="container">
    <img src="https://www.digitalphotomentor.com/photography/2018/05/famous-photographers-Margaret-Bourke-White-1946-ghandi.jpg" alt="" class="image">
    <div class="overlay">
        <div class="text">Margaret Bourke-White’s famous photograph – Gandhi and the Spinning Wheel | 1946</div>
    </div>
</div>

&nbsp;

</body>
