<!DOCTYPE html>

<html lang="en">
<link href="/static/style.css" rel="stylesheet" type="text/css" />
<meta charset="UTF-8">




<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/cubism">Paintings</a>
    <a href="/Movies">Movies</a>
    <a class="active" href="/photography">Photography</a>
</div>




<h1> Photography </h1>

<div class="container">
    <img src="https://thumbs-prod.si-cdn.com/PHv2f6mSDTyjIibUcNJDzaSA8_I=/fit-in/1600x0/https://public-media.si-cdn.com/filer/74/0c/740cf308-2f7b-4ef8-911f-1c1e71a6e061/npg_93_145_churchill_r.jpg" alt="" class="image">
        <div class="text">Yousuf Karsh’s iconic portrait –<br>Winston Churchill | <br>1941</div>
    </div>


<p>&nbsp;</p>
<div class="container">
    <img src="https://www.digitalphotomentor.com/photography/2018/05/famous-photographers-Cartier-Bresson-1930-man-jumping-puddle.jpg" alt="" class="image">
        <div class="text">Henri Cartier-Bresson’s famous photo -<br>Man Jumping the Puddle | <br>1930</div>
    </div>


<p>&nbsp;</p>
<div class="container">
    <img src="https://1.api.artsmia.org/800/99534.jpg" alt="" class="image">
        <div class="text">Margaret Bourke-White’s famous photograph –<br>Gandhi and the Spinning Wheel | <br>1946</div>
    </div>
</div>


<p>&nbsp;</p>
<div class="container">
    <img src="https://medialectic.files.wordpress.com/2019/10/famous-photographers-lewis-hine-1908-child-cotton-mill-750x422.jpg?w=750" alt="" class="image">
    <div class="text">Lewis Hine’s famous image –<br>Cotton Mill Girl | <br>1908</div>
</div>


<p>&nbsp;</p>
<div class="container">
    <img src="https://artsy-media-uploads.s3.amazonaws.com/KUFNTwGcVwoSU3E2LVJArA%2Fcustom-Custom_Size___alfred-eisenstaedt-v-j-day-times-square-new-york-city-1945-printed-later+copy.jpg" alt="" class="image">
    <div class="text">Alfred Eisenstaedt's iconic picture -<br>V-J Day in Times Square| <br>1945</div>
</div>





</body>
